/* Basic Style */
.wrapper {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.info {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.info > .img {
  width: 100%;
}
.info .info__more-details {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .info {
    text-align: center;
  }
}

.todo-list {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}
.new-task__wrapper {
  display: flex;
}
.tasks-list {
  margin:0;
  padding: 0px;
}
.tasks-list__item, .heading {
  list-style:none;
}
.todo-list__input, .todo-list__button{
  outline:none;
}
.todo-list__button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.todo-list__button:hover {
  color: #3a3a3a;
}
/* Heading */
.heading,
.todo-list__label[for="todo-list__new-task"] {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.todo-list__input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.todo-list__input[type="text"]:focus {
  color: #333;
}

/* New Task */
.todo-list__label[for="todo-list__new-task"] {
  display: block;
  margin: 0 0 20px;
}
.todo-list__input#todo-list__new-task {
  width: 318px;
}

/* Task list */
.tasks-list__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tasks-list__item > * {
  vertical-align: middle;
}

.tasks-list__item > .todo-list__input[type="checkbox"] {
  margin: 0 10px;
}
.tasks-list__item > .todo-list__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.tasks-list__item >    .todo-list__input[type="text"] {
  width: 226px
}
.todo-list__button.delete .img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.todo-list__button.delete .img:hover {
  transform: rotateZ(0);
}

/* Completed */
.tasks-list#completed-tasks .todo-list__label {
  text-decoration: line-through
  color: #888;
}

/* Edit Task */
.tasks-list .tasks-list__item .todo-list__input[type=text] {
  display:none
}

.tasks-list .tasks-list__item.edit-mode .todo-list__input[type=text] {
  display:inline-block;
  width:224px
}

.tasks-list .tasks-list__item.edit-mode .todo-list__label {
  display:none;
}